@tailwind base;
@tailwind components;
@tailwind utilities;


.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}
.lexical-image {
  max-width: 100%; /* Ensures image scales with its container */
  height: auto;    /* Maintains aspect ratio */
  display: block;  /* Ensures image is displayed as a block element */
  margin: 16px 0;  /* Adds margin to space out images */
}
a {
  color: blue;
  text-decoration: underline;
}
.my-custom-horizontal-rule {
  margin: 1.5rem 0; /* Equivalent to my-6 in Tailwind */
  border-top: 2px solid red; /* Equivalent to border-t and border-red-500 */
}
.image-dialog {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
}
/* styles.css */
.lexical-image {
  max-width: 100%;
  display: block;
}
